In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
boost_df = pd.read_csv('boost_df.csv')

In [3]:
boost_df.head()

,trip_id,timestamp,boost_number,boost_amount,base_plus_boost,claimed,total_price,base_price,total_driver_supply,metro_area,trip_start_date
0,1,2022-12-30 12:00:00,0,0.00,10.00,0,10.00,10.0,202,SFO,2023-01-01 00:00:00
1,1,2022-12-30 12:05:00,1,1.76,11.76,0,11.76,10.0,263,SFO,2023-01-01 00:00:00
2,1,2022-12-30 12:10:00,2,2.04,12.04,0,13.80,10.0,203,SFO,2023-01-01 00:00:00
3,1,2022-12-30 12:15:00,3,1.78,11.78,1,15.58,10.0,201,SFO,2023-01-01 00:00:00
4,2,2022-12-30 13:00:00,0,0.00,35.00,0,35.00,35.0,242,ATL,2023-01-01 01:00:00

In [4]:
boost_df

,trip_id,timestamp,boost_number,boost_amount,base_plus_boost,claimed,total_price,base_price,total_driver_supply,metro_area,trip_start_date
0,1,2022-12-30 12:00:00,0,0.00,10.00,0,10.00,10.0,202,SFO,2023-01-01 00:00:00
1,1,2022-12-30 12:05:00,1,1.76,11.76,0,11.76,10.0,263,SFO,2023-01-01 00:00:00
2,1,2022-12-30 12:10:00,2,2.04,12.04,0,13.80,10.0,203,SFO,2023-01-01 00:00:00
3,1,2022-12-30 12:15:00,3,1.78,11.78,1,15.58,10.0,201,SFO,2023-01-01 00:00:00
4,2,2022-12-30 13:00:00,0,0.00,35.00,0,35.00,35.0,242,ATL,2023-01-01 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...
119830,19999,2025-04-11 18:05:00,1,1.75,36.75,1,36.75,35.0,234,SFO,2025-04-13 06:00:00
119831,20000,2025-04-11 19:00:00,0,0.00,14.00,0,14.00,14.0,183,MSP,2025-04-13 07:00:00
119832,20000,2025-04-11 19:05:00,1,1.83,15.83,0,15.83,14.0,172,MSP,2025-04-13 07:00:00
119833,20000,2025-04-11 19:10:00,2,1.81,15.81,0,17.64,14.0,193,MSP,2025-04-13 07:00:00
119834,20000,2025-04-11 19:15:00,3,1.74,15.74,1,19.38,14.0,186,MSP,2025-04-13 07:00:00

In [ ]:
# Does driver supply matter?
# number of boosts per metro area
# day of the week?
# look at timestamp or trip start date? 2 days apart... 
# # OH - the timestamp is when the ride is posted and boosted, and the start date is when it will happen
# why would base plus boost matter? total price seems more important
# look at total increase or percentage increase from base price

# are drivers choosing from other rides?
# does day of week or time of day matter? the trip start date seems to be dummy...
# would like to check out seasonality, maybe weather

In [5]:
boost_df.metro_area.unique()

array(['SFO', 'ATL', 'LAS', 'STL', 'TPA', 'NYC', 'DET', 'MSP', 'PDX',
       'DEN', 'MCL', 'LAX', 'SDF', 'DFW'], dtype=object)

In [8]:
boost_df[['trip_id', 'boost_number', 'metro_area']].groupby('trip_id').max().groupby('metro_area').mean()

            boost_number
metro_area
ATL             5.082445
DEN             4.951773
DET             5.094822
DFW             5.109851
LAS             4.889706
LAX             4.994173
MCL             5.045175
MSP             4.839185
NYC             4.989422
PDX             4.969199
SDF             4.964997
SFO             4.962526
STL             4.869533
TPA             5.119573

In [9]:
# Close to 5 boosts, on average, for each metro area

In [18]:
boost_df['total_boost_amount'] = boost_df['total_price']-boost_df['base_price']

In [12]:
boost_df[['trip_id', 'total_boost_amount', 'metro_area']].groupby('trip_id').max().groupby('metro_area').mean()

            total_boost_amount
metro_area
ATL                   8.636482
DEN                   9.419993
DET                  10.211937
DFW                   9.285684
LAS                  10.620241
LAX                   7.897014
MCL                   9.897687
MSP                   8.884038
NYC                   8.681961
PDX                  10.444887
SDF                   8.959472
SFO                   8.826648
STL                   9.411053
TPA                   9.609438

In [20]:
# Convert the timestamp column to datetime
boost_df['tsd_timestamp'] = pd.to_datetime(boost_df['trip_start_date'])

# Extract the day of the week as an integer (Monday=0, Sunday=6)
boost_df['day_of_week'] = boost_df['tsd_timestamp'].dt.dayofweek

In [21]:
boost_df

,trip_id,timestamp,boost_number,boost_amount,base_plus_boost,claimed,total_price,base_price,total_driver_supply,metro_area,trip_start_date,total_boost_amount,tsd_timestamp,day_of_week
0,1,2022-12-30 12:00:00,0,0.00,10.00,0,10.00,10.0,202,SFO,2023-01-01 00:00:00,0.00,2023-01-01 00:00:00,6
1,1,2022-12-30 12:05:00,1,1.76,11.76,0,11.76,10.0,263,SFO,2023-01-01 00:00:00,1.76,2023-01-01 00:00:00,6
2,1,2022-12-30 12:10:00,2,2.04,12.04,0,13.80,10.0,203,SFO,2023-01-01 00:00:00,3.80,2023-01-01 00:00:00,6
3,1,2022-12-30 12:15:00,3,1.78,11.78,1,15.58,10.0,201,SFO,2023-01-01 00:00:00,5.58,2023-01-01 00:00:00,6
4,2,2022-12-30 13:00:00,0,0.00,35.00,0,35.00,35.0,242,ATL,2023-01-01 01:00:00,0.00,2023-01-01 01:00:00,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119830,19999,2025-04-11 18:05:00,1,1.75,36.75,1,36.75,35.0,234,SFO,2025-04-13 06:00:00,1.75,2025-04-13 06:00:00,6
119831,20000,2025-04-11 19:00:00,0,0.00,14.00,0,14.00,14.0,183,MSP,2025-04-13 07:00:00,0.00,2025-04-13 07:00:00,6
119832,20000,2025-04-11 19:05:00,1,1.83,15.83,0,15.83,14.0,172,MSP,2025-04-13 07:00:00,1.83,2025-04-13 07:00:00,6
119833,20000,2025-04-11 19:10:00,2,1.81,15.81,0,17.64,14.0,193,MSP,2025-04-13 07:00:00,3.64,2025-04-13 07:00:00,6
119834,20000,2025-04-11 19:15:00,3,1.74,15.74,1,19.38,14.0,186,MSP,2025-04-13 07:00:00,5.38,2025-04-13 07:00:00,6

In [23]:
# maybe offer a bonus for picking up rides within a certain amount of time that would be lower than the average total price increase

In [26]:
# NEXT STEPS:
# - get dummies for metro areas and day of the week, 
# - drop useless columns, 
# - see if anything is correlated to "claimed",
# - do some visualizations